/* div element ------------- */
.div_element {
	border: 0;
	padding: 0;
  }

/* index ------------------ */
.img_index {
	display: flex;
	justify-content: center; /* Center the images horizontally */
  }
  
  .img_index img {
	max-width: 100%;
	height: auto;
	width: 40px;
	margin: 0 10px; /* Add some spacing between the images */
  }

.main-bio-text {
  font-weight: normal;
  font-size: 1.0625em; /* Approximately 1pt larger than default 16px */
}

.circular-portrait {
  width: 75%;
  border-radius: 50%;
  object-fit: cover;
}

/* resume ------------------ */
.img_rsm {
	height: auto;
	width:50px;
	padding: 2px 0px;
}

.table_rsm {
	margin-left: 0; 
	margin-right: 0;
	width: 100%; 
	border: none;
	}
	td:nth-child(1), th:nth-child(1) {
		text-align: center;
		padding: 2px 0px;
	}
	td:nth-child(2), th:nth-child(2) {
		text-align: left;
		padding: 2px 0px;
	}

/* research ------------------ */
.img_res {
	height: auto;
	width:110px;
	padding: 4px 5px;
}

.table_res {
	margin-left: 0; 
	margin-right: 0; 
	width: 100%; 
	border: none;
	}
 	th, td {
	height:auto;
   	}
	td:nth-child(1) {
		width: 130px;
	}
	td:nth-child(2), th:nth-child(2) {
		text-align: left;
	  }

/* awards ------------------ */
.img_awrds {
	height: 55px;
	width:auto;
	padding: 0px 20px;
	text-align: center;
}

.table_logo {
	display: flex;
	margin-left: 0; 
	margin-right: auto; 
	width: 100%;
	border: none;
	justify-content: center;
	align-items: center;
}
	th, td {
  text-align: center;
  height:55px;
  width: auto;
  padding: 10px 50px;
	}

/*  affiliations ---------- */
.img_affil {
	height: 55px;
	width:auto;
	padding: 0px 20px;
}

.table_affil {
	display: flex;
	width: 100%; 
	border: none;
	justify-content: center;
	align-items: center;
	}
	th, td {
	align-items: center;
	padding: 10px 50px;
	}


/* line -------------------- */
.line {
  border-bottom: 2px solid lightgray; 
  width: 100%; 
}
 
.centered-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }

.lft-algnd {
	text-align: left;
  }
  
.skirt {
	  width: 100%;
	  height: 50px;
	  background-color: #01101f;
	  border-radius: 50px; /* To create a curved bottom */
	  position: relative; /* Make it positioned on the webpage */
	  bottom: auto; /* Adjust the position from the top */
	}


footer {
    background-color: #000000;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 22px;
    text-align: center;
    padding-top: 0pt;
}